<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crazyhitty.chdev.ks.predator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity-alias
            android:name=".ui.activities.SplashActivity"
            android:targetActivity=".ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"/>

        <activity
            android:name=".ui.activities.OnboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.PostDetailsActivity"
            android:parentActivityName=".ui.activities.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.CollectionDetailsActivity"
            android:parentActivityName=".ui.activities.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.MediaFullScreenActivity"
            android:parentActivityName=".ui.activities.PostDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.UserProfileActivity"
            android:parentActivityName=".ui.activities.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:parentActivityName=".ui.activities.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/settings_name" />

        <activity
            android:name=".ui.activities.AboutActivity"
            android:parentActivityName=".ui.activities.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activities.AuthenticatorActivity"
            android:theme="@style/DialogActivity.NoTitle.Light" />

        <activity
            android:name=".ui.activities.AppLinkingActivity"
            android:theme="@style/DialogActivity.NoTitle.Light"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/app_linking_scheme"
                    android:host="@string/app_linking_host"
                    android:pathPrefix="@string/app_linking_path_prefix" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.OAuthTokenHandlerActivity"
            android:label="@string/app_name"
            android:theme="@style/DialogActivity.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/oauth_scheme"
                    android:host="@string/oauth_host"
                    android:path="@string/oauth_path" />
            </intent-filter>
        </activity>

        <!--service required for account manager-->
        <service android:name=".account.PredatorAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/predator_authenticator" />
        </service>

        <!--content provider for maintaining app database-->
        <provider
            android:name=".data.PredatorProvider"
            android:authorities="com.crazyhitty.chdev.ks.predator"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />

        <service
            android:name=".data.PredatorSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

        <receiver android:name=".ui.widget.PredatorPostsWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/predator_posts_app_widget_info" />
        </receiver>

        <service
            android:name=".ui.widget.PredatorPostsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>
