<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crazyhitty.chdev.ks.predator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.OnboardActivity"
            android:theme="@style/AppTheme.Onboard" />

        <activity
            android:name=".ui.activities.DashboardActivity"
            android:theme="@style/AppTheme.Dashboard" />

        <activity
            android:name=".ui.activities.AuthenticatorActivity"
            android:theme="@style/DialogActivity.NoTitle" />

        <activity
            android:name=".ui.activities.OAuthTokenHandlerActivity"
            android:label="@string/app_name"
            android:theme="@style/DialogActivity.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host"
                    android:path="@string/path"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>

        <!--service required for account manager-->
        <service android:name=".account.PredatorAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/predator_authenticator" />
        </service>

        <!--content provider for maintaining app database-->
        <provider
            android:name=".data.PredatorProvider"
            android:authorities="com.crazyhitty.chdev.ks.predator"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true" />

        <!--receiver for maintaining connectivity changed-->
        <receiver
            android:name=".receivers.NetworkBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
